.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #e5e7e9;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-header {
  grid-area: header;
}

.grid-menu {
  grid-area: menu;
}

.grid-main {
  grid-area: main;
}

.grid-right {
  grid-area: right;
}

.grid-footer {
  grid-area: footer;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: thick;
    text-align: center;
  }
  
  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  /* We rely on source order for mobile-first approach
   * in this case:
   * 1. header
   * 2. article
   * 3. aside 1
   * 4. aside 2
   * 5. footer
   */
  
  /* Medium screens */
  @media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside { flex: 1 0 0; }
  }
  
  /* Large screens */
  @media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take thrice as much width as the other two sidebars 
     */
     .main    { flex: 3 0px; }
     .aside-1 { order: 1; } 
     .main    { order: 2; }
     .aside-2 { order: 3; }
     .footer  { order: 4; }
  }
  
  .active{
    font-weight:bold;
  }
  
  

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  list-style: none;
  margin: 0; 
  background: orangered;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: White;
}

.navigation a:hover {

  background: red;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}



.table-container {
    display: table;
    table-layout: auto;
    width: 100%;
	border: 1px solid black;
    border-radius: 2px;
}

.table-header{
    text-align: center;
    display: table-header-group;
    
}

.table-header-data{
    display: table-cell;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.table-row {
    display: table-row-group;
    
}

.table-row:hover {
    background-color: lightgray;
    cursor: pointer;
}
.table-data{
    padding: 10px;
    text-align: left;
    height: 40px;
    vertical-align: bottom;
    display: table-cell;
    border-bottom: 1px solid black;
}

.tile-container {
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    list-style: none;

    background: white;
    
    border: 1px solid black;
  }
.tile-half {
    display: inline-block;
    width: 50%;
}
    

  .tile-item {
    display: block;
    flex-flow: row wrap;
    border-radius: 1px;
    border: 1px solid black;
  }

  .tile-item-key {
    display: inline-block;
    font-weight: bold;
  }

  .tile-item-value {
    display: inline-block;
  }


// Import Bootstrap and its default variables
//@import '~bootstrap/scss/bootstrap.scss';